<div *ngIf="headerDetails$ | async as headerDetails">
  <div>
    <span style="font-weight: bold">{{ 'orgAccountSummary.details.uid' | cxTranslate }}</span><br/>
    <span>{{headerDetails?.b2BUnitWsDTO?.uid}}</span>
  </div>
  <div>
    <span style="font-weight: bold">{{ 'orgAccountSummary.details.name' | cxTranslate }}</span><br/>
    <span>{{headerDetails?.b2BUnitWsDTO?.name}}</span>
  </div>
  <div *ngIf="headerDetails?.billingAddress as address">
    <span style="font-weight: bold">{{ 'orgAccountSummary.details.address' | cxTranslate }}</span><br/>
    <span>{{address?.fullnameWithTitle}}</span><br/>
    <span>{{address?.formattedAddress}}</span><br/>
    <span>{{address?.country?.name}}</span>
  </div>
  <div>
    <span style="font-weight: bold"> {{ 'orgAccountSummary.details.creditRep' | cxTranslate }}</span><br/>
    <span>{{headerDetails?.accountManagerName}}</span>
  </div>
  <div>
    <span style="font-weight: bold">{{ 'orgAccountSummary.details.creditLine' | cxTranslate }}</span><br/>
    <span>{{headerDetails?.formattedCreditLimit}}</span>
  </div>
  <div>
    <span style="font-weight: bold"> {{ 'orgAccountSummary.details.currentBalance' | cxTranslate }}</span><br/>
    <span>{{headerDetails?.amountBalanceData?.currentBalance}}</span>
  </div>
</div>


<!--  !!!!! ----- ///// \\\\\ +++++ TRYING SOME NEW STUFF +++++ ///// \\\\\ ----- !!!!! -->


<div class="cx-order-summary" *ngIf="headerDetails$ | async as headerDetails">
  <div class="container">

    <div class="cx-summary-card">

      <cx-card
        [content]="getIdCardContent(headerDetails?.b2BUnitWsDTO?.uid) | async"
      ></cx-card>

      <cx-card
        [content]="getNameCardContent(headerDetails?.b2BUnitWsDTO?.name) | async"
      ></cx-card>

      <cx-card
        [content]="getAddressCardContent(
          headerDetails?.billingAddress?.fullnameWithTitle,
          headerDetails?.billingAddress?.formattedAddress,
          headerDetails?.billingAddress?.country?.name
        ) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">

      <cx-card
        [content]="getCreditRepCardContent(headerDetails?.accountManagerName) | async"
      ></cx-card>

      <cx-card
        [content]="getCreditLineCardContent(headerDetails?.formattedCreditLimit) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">

      <cx-card
        [content]="getCurrentBalanceCardContent(headerDetails?.amountBalanceData?.currentBalance) | async"
      ></cx-card>

      <cx-card
        [content]="getOpenBalanceCardContent(headerDetails?.amountBalanceData?.openBalance) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">

      <div>
        <span style="font-weight: bold">{{ 'orgAccountSummary.details.openBalance' | cxTranslate }}</span><br/>
        <span>{{headerDetails?.amountBalanceData?.openBalance}}</span>
      </div>

      <div *ngFor="let rangeBalance of headerDetails?.amountBalanceData?.dueBalance">
        <span style="font-weight: bold">{{rangeBalance?.key?.minBoundery}}</span>
        <span style="font-weight: bold">{{rangeBalance?.key?.maxBoundery ? '-' + rangeBalance?.key?.maxBoundery : '+'}}</span>
        <span style="font-weight: bold"> Days</span><br/>
        <span>{{rangeBalance?.value}}</span>
      </div>

      <div>
        <span style="font-weight: bold">{{ 'orgAccountSummary.details.pastDueBalance' | cxTranslate }}</span><br/>
        <span>{{headerDetails?.amountBalanceData?.openBalance}}</span>
      </div>

    </div>

  </div>
</div>
