<div>
  <h2>
    {{ 'orgAccountSummary.details.header' | cxTranslate }}
  </h2>
</div>
<div class="cx-account-summary" *ngIf="headerDetails$ | async as headerDetails">
  <div class="container">

    <div class="cx-summary-card">

      <cx-card
        [content]="getIdCardContent(headerDetails?.b2BUnitWsDTO?.uid) | async"
      ></cx-card>

      <cx-card
        [content]="getNameCardContent(headerDetails?.b2BUnitWsDTO?.name) | async"
      ></cx-card>

      <cx-card
        [content]="getAddressCardContent(
          headerDetails?.billingAddress?.fullnameWithTitle,
          headerDetails?.billingAddress?.formattedAddress,
          headerDetails?.billingAddress?.country?.name
        ) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">

      <cx-card
        [content]="getCreditRepCardContent(headerDetails?.accountManagerName) | async"
      ></cx-card>

      <cx-card
        [content]="getCreditLineCardContent(headerDetails?.formattedCreditLimit) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">

      <cx-card
        [content]="getCurrentBalanceCardContent(headerDetails?.amountBalanceData?.currentBalance) | async"
      ></cx-card>

      <cx-card
        [content]="getOpenBalanceCardContent(headerDetails?.amountBalanceData?.openBalance) | async"
      ></cx-card>

    </div>

    <div class="cx-summary-card">
      <div style="border: 1px solid black; padding: 1rem; margin-top: 1rem">
        <div *ngFor="let rangeBalance of headerDetails?.amountBalanceData?.dueBalance" style="padding-bottom: 1rem">
          <span style="font-weight: bold">{{rangeBalance?.key?.minBoundery}}</span>
          <span style="font-weight: bold">{{rangeBalance?.key?.maxBoundery ? '-' + rangeBalance?.key?.maxBoundery : '+'}}</span>
          <span style="font-weight: bold"> Days</span><br/>
          <span>{{rangeBalance?.value}}</span>
        </div>

        <div style="border-top: 1px solid black; padding-top: 1rem">
          <span style="font-weight: bold">{{ 'orgAccountSummary.details.pastDueBalance' | cxTranslate }}</span><br/>
          <span>{{headerDetails?.amountBalanceData?.openBalance}}</span>
        </div>
      </div>

    </div>

  </div>
</div>
